<nav class="navigation">
  <div class="navigation__group">
    <div class="navigation__icon navigation__icon--1">Home</div>
    <div class="navigation__icon navigation__icon--2">Boards</div>
  </div>
  <h1 class="navigation__heading">Trello</h1>
  <div class="navigation__group">
    <div class="navigation__icon navigation__icon--3">&plus;</div>
    <div class="navigation__icon navigation__icon--4">i</div>
    <div class="navigation__icon navigation__icon--5">n</div>
  </div>
</nav>

<section class="section-boards">
  <div class="boards__sidebar">
    <div class="boards__sidebar__navigation">
      <ul class="boards__sidebar__menu">
        <li class="boards__sidebar__item">
          <a href="#" class="boards__sidebar__link">
            Boards
          </a>
        </li>
        <li class="boards__sidebar__item">
          <a href="#" class="boards__sidebar__link">
            Home
          </a>
        </li>
      </ul>
    </div>
    <h3 class="boards__sidebar__title">Teams</h3>
    <div class="boards__sidebar__teams">
      <ul class="boards__sidebar__teams-menu">
        <li class="boards__sidebar__item">
          <a href="#" class="boards__sidebar__link">
            &plus; Create a team
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="boards__main">
    <div class="boards__main__section">
        <div class="boards__main__heading">
          <h3 class="boards__main__h3">Recently Viewed</h3>
        </div>
    </div> 
  </div>
</section>